* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  height: 100vh;
  background-color: #0b2434;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

div#root {
  height: 100%;
  width: 100%;
  max-height: 600px;
  max-width: 600px;
}

main {
  background-color: #f5f5f5;
  height: 100%;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

main:hover,
.die-button:hover {
  transform: translateY(-2px);
}

.dice-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 26px;
}

button.die-button {
  height: 74px;
  width: 74px;
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 40px;
  background-color: white;
  cursor: pointer;
}
