* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #0b2434;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

div#root {
  height: 100%;
  width: 100%;
  max-height: 600px;
  max-width: 600px;
}

main {
  background-color: #f5f5f5;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
  row-gap: 34px;
}

main h1 {
  font-size: 44px;
}

main p {
  font-size: 22px;
  font-weight: 300;
}

main h1,
main p,
button.die-button {
  color: #000000;
}

button {
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-weight: bold;
}

main,
button {
  font-family: "Karla", sans-serif;
  transition: transform 0.2s ease-in-out;
}

main:hover,
button:hover {
  transform: translateY(-2px);
}

.dice-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 26px;
}

@keyframes Shake {
  0% {
    transform: rotate(5deg);
  }

  25% {
    transform: rotate(-6deg);
  }

  50% {
    transform: rotate(5deg);
  }

  75% {
    transform: rotate(-6deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

button.die-button {
  height: 74px;
  width: 74px;
  border-radius: 12px;
  font-size: 40px;
  background-color: white;
  animation: Shake 0.5s linear infinite;
}

button.die-button:hover {
  animation: none;
}

button.roll-dice-button {
  border-radius: 4px;
  background-color: #5035ff;
  color: white;
  padding: 12px 40px;
  font-size: 24px;
}

button.roll-dice-button:hover {
  background-color: #7560fa;
}

button.held-dice {
  background-color: #59e391;
  animation: none;
  transform: none;
}

@media (max-width: 800px) {
  main {
    row-gap: 24px;
  }

  main h1 {
    font-size: 30px;
  }

  main p {
    font-size: 18px;
    font-weight: 300;
  }

  button.die-button {
    height: 54px;
    width: 54px;
    font-size: 28px;
  }

  .dice-container {
    gap: 18px;
  }

  button.roll-dice-button {
    font-size: 18px;
  }
}
